<div id="<%= dom_id reservation %>">
  <p>
    <strong>Comfort class:</strong>
    <%= reservation.comfort_class %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

  <p>
    <strong>Pnr:</strong>
    <%= reservation.PNR %>
  </p>

  <p>
    <strong>Seats count:</strong>
    <%= reservation.seats_count %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Flight:</strong>
    <%= reservation.flight_id %>
  </p>

</div>
