<%= form_with(model: flight) do |form| %>
  <% if flight.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
        <% flight.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :business_class_seat, style: "display: block" %>
    <%= form.number_field :business_class_seat %>
  </div>

  <div>
    <%= form.label :economic_class_seat, style: "display: block" %>
    <%= form.number_field :economic_class_seat %>
  </div>

  <div>
    <%= form.label :departure_date, style: "display: block" %>
    <%= form.datetime_field :departure_date %>
  </div>

  <div>
    <%= form.label :arrival_date, style: "display: block" %>
    <%= form.datetime_field :arrival_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
