<div id="flights">
  <p style="color: green"><%= notice %></p>

  <h1>Flights</h1>


  <% if current_user %>
    <%= link_to "New flight", new_flight_path %>
  <% end %>
  <div id="flights-cards">
    <% @flights.each do |flight| %>
      <div class="card">
        <%= render flight %>
        <p>
          <%= link_to "Show this flight", flight %>
        </p>
      </div>

    <% end %>
  </div>
  <div class="pagination">
    <%= paginate @flights %>
  </div>
</div>