<!DOCTYPE html>
<html>
  <head>
    <title>AvionLigne3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <div class="logo"></div>
      <button class="burger">
        <svg fill="currentColor" viewBox="0 0 24 24" height="32px" width="32px" role="img" id="Burger"><title>Icône Menu</title><desc>Icône ouvrant le menu</desc><path d="M3.75 6.75C3.75 6.336 4.086 6 4.5 6H19.5C19.914 6 20.25 6.336 20.25 6.75C20.25 7.164 19.914 7.5 19.5 7.5H4.5C4.086 7.5 3.75 7.164 3.75 6.75Z"></path><path d="M3.75 17.25C3.75 16.836 4.086 16.5 4.5 16.5H19.5C19.914 16.5 20.25 16.836 20.25 17.25C20.25 17.664 19.914 18 19.5 18H4.5C4.086 18 3.75 17.664 3.75 17.25Z"></path><path d="M4.5 11.25C4.086 11.25 3.75 11.586 3.75 12C3.75 12.414 4.086 12.75 4.5 12.75H19.5C19.914 12.75 20.25 12.414 20.25 12C20.25 11.586 19.914 11.25 19.5 11.25H4.5Z"></path></svg>
      </button>
      <button class="account">
        <img src="https://www.thetrainline.com/public/img/739016c17715b8ed310e.svg" alt="Icône compte">
      </button>
    </header>
    <%= yield %>
  </body>
</html>
