<!DOCTYPE html>
<html>
  <head>
    <title>AvionLigne3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <div class="main">
        <a href="<%= index_index_url %>"><img src="/Logo.png" alt="LOGO" height="50px"></a>
      </div>
      <div class="menu" >
        <a href="<%= airports_url %>">Les aéroports</a>
        <a href="<%= flights_url %>">Les vols</a>
        <a href="<%= reservations_url %>">Mes réservation</a>

        <% if user_signed_in? %>
          <a href="/users/sign_out">Déconnexion</a>
        <% else %>
          <a href="/users/sign_up">Inscription</a>
          <a href="/users/sign_in">Connexion</a>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
